/*CSS GERAL*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Css do header*/
header {
    background-color: black;
    width: auto;
    height: 70px;
}

.navbar .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar .nav-content img {
    display: inline-block;
    width: 120px;
    height: 65px;
    margin-left: 3%;
}


/*Css do footer*/
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 20px;
    text-align: left;
    width: auto;
    height: 200px;
    color: white;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column > h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column > p {
    font-size: 16px;
}

.footer-column > img{
    width: 70px;
    height: 70px;  

}

.footer-column {
        margin-bottom: 15px;
    }

/*CSS PÁGINA INICIAL*/
/*Css do header da página inicial*/
#nav-pag-inicial .nav-links a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navbar .nav-links {
    display: flex;
    gap: 25px; 
    margin-right: 4%; 
}

#section-1-pag-inicial{
    background-color: black;
    width: auto;
    height: 632px;
    display: flex;
    justify-content: center;
}

#content-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.article-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    width: auto;
    height: 400px;
}



/*CSS PÁGINA DE LOGIN*/


/*CSS PÁGINA DE CADASTRO*/
#container-cadastrar {
    display: flex;
    height: auto;
}

/* Lado esquerdo */
#esquerda-cadastrar {
    background-color: #FFFFFF; /* Cor de fundo branca */
    flex: 1; /* Ocupa metade da largura */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#conteudo-esquerda {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    width: 470px;
    left: 10%;
}

#conteudo-esquerda img {
    max-width: 100%;
    height: auto;
}

#conteudo-esquerda p {
    margin: 20px 0;
    font-size: 1.2em;
}

/* Lado direito */
#direita-cadastrar {
    background-color: #000000; /* Cor de fundo preta */
    flex: 1; /* Ocupa metade da largura */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white; /* Texto em branco */
}

#formulario-direita {
    width: 80%;
}

#formulario-direita label {
    display: block;
    font-weight: bold;
}

#formulario-direita input[type="text"],
#formulario-direita input[type="email"],
#formulario-direita input[type="password"] {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
}

#checkbox-termos {
    margin-bottom: 10px;
    display: inline-flex;
    gap: 7px;
}

#botao-cadastrar {
    width: 120px;
    padding: 8px;
    background-color: white; /* Cor do botão */
    border: none;
    border-radius: 25px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    display: block;
    position: absolute;
    left: 70%;
}

#bnt-cadast{
    color: #000000;
    text-decoration: none;
}

.bnt-anexar{
    width: 300px;
    height: 30px;
    margin-top: 10px;   
}

.line-cadastro{
    width: 100%;
    height: 1.5px;
    margin-top: 0%;
    margin-bottom: 10px;
    background-color: white;
}

.container > img{
  width: auto ;
}
/*CSS PÁGINA PRINCIPAL*/
/*CSS PÁGINA DE TRANSAÇÕES*/
.nav-img #bnt-home{
    width: 50px;
    height: 45px;
    padding: auto;
    margin-right: 40px;
    margin-top: 2px;
    align-items: center;
}

.container-body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(#000000, #000000, #1A1A1A, #383838, #505050, #666666);
    display: flex;
}

.h2-pag-transacoes{
    color: white;
    margin-top: 2.5%;
}

.container-table{
    margin-top: 4.5%;
    width: 70%;
    height: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: px 0;
    background-color: white;
    border-radius: 5px;
    overflow: hidden; 
}

th, td {
    padding: 12px;
    border: 1px solid #696868;
    text-align: left;
}
th {
    background-color: #000000;
    color: white;
}
tr:nth-child(even) {
   background-color: #f2f2f2;
}
